/* Estilo para todo o documento */

html{
    color: rgb(109, 67, 4);   
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100vw;
    height: 100vh;
}