main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

article{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}