* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --dark: #2e2e2e;
    --gray: #ddddddd5;
}

body {
    position: relative;
}

header {
    background-color: var(--dark);
    font-family: 'Roboto';
    padding: 14px 5px;
    display: flex;
    align-items: center;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 30px;
}

.container .ativo {
    color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

.menu a {
    color: var(--white);
    text-decoration: none;
    color: var(--gray);
}

ul .subLinks {
    display: none;
}

.menu li a:hover {
    color: var(--white);
    transition: all .2s ease-in-out;
}

.icone {
    display: flex;
    padding: 2px;
    background-color: grey;
    border-radius: 4px;
    margin-right: 10px;
    display: none;
    cursor: pointer;
    border: 1px solid white;
}

.icone:hover {
    background-color: transparent;
}

.icone i {
    color: #fff;
    font-size: 2em;
}

/* menu mobile */

nav.menu-mobile {
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: none;
}

nav .bnt-fechar {
    color: #fff;
    font-size: 2em;
    margin: 20px;
    cursor: pointer;
}

nav.menu-mobile ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    gap: 30px;
}

nav.menu-mobile a {
    color: rgb(255, 223, 223);
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
}

nav.menu-mobile a:hover{
    color: red;
}

ul .subLinks-mobile {
    opacity: 0;
    margin-top: 30px;
    transition: all .5s ease;
}

ul .subLinks-mobile a{
    font-size: 1rem;
}


@media screen and (max-width: 860px) {
    .icone {
        display: block;
    }

    .menu {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .bottomIcone {
        color: #fff;
    }
}